// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Portfolio Blanca Negra Gris
$color-primario-bng: rgb(20, 20, 20);
$color-secundario-bng: rgb(240, 235, 235);
$color-terciario-bng: rgb(82, 82, 82);

//Palette Blue
$blue-primary-color: green;
