@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 10px;
  padding: 10px;
}

body {
  color: honeydew;
  font-family: "Montserrat";
  background-color: rgb(15, 15, 15);
}

.titulo-nombre {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cabecero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.cabecero .cabecero-lista {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 50px;
}

.cabecero .cabecero-item-concreto {
  display: flex;
}

.cabecero .cabecero-item-link {
  display: flex;
  list-style: none;
}

.cabecero a {
  list-style: none;
}

.cabecero-item-link {
  text-decoration: none;
  list-style: none;
  color: honeydew;
}

#musica {
  justify-content: space-around;
  text-align: left;
  border: rgb(134, 187, 134) 10px;
}

#musica .titulo-seccion-musica {
}

.imagendj {
  max-width: 50%;
  border: firebrick 4px;
}

#fotografía {
  text-align: right;
  border: ghostwhite 6px;
}

.imagenfotografo {
  max-width: 50%;
  border: firebrick 4px;
}

.extrahobbys_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hobbyitem {
  text-align: center;
  width: 30%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
